<ion-content [fullscreen]="true">
    <div class="header">
        <img class="logo" src="/assets/logo@3x.png">
    </div>
    <ion-grid class="menu-list">
        <ion-row>
            <ion-col size="6">
                <div routerLink="/pages/testing" class="menu-item-left menu-item">
                    <ion-img src="/assets/icons/test@3x.png"></ion-img>
                    <ion-text>covid test</ion-text>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="menu-item-right menu-item">
                    <ion-img src="/assets/icons/consultation@3x.png"></ion-img>
                    <ion-text>consultation</ion-text>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="menu-item-left menu-item">
                    <ion-img src="/assets/icons/health@3x.png"></ion-img>
                    <ion-text>health center</ion-text>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="menu-item-right menu-item">
                    <ion-img src="/assets/icons/medicine@3x.png"></ion-img>
                    <ion-text>medicine info</ion-text>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="menu-item-left menu-item">
                    <ion-img src="/assets/icons/news@3x.png"></ion-img>
                    <ion-text>news feed</ion-text>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="menu-item-right menu-item">
                    <ion-img src="/assets/icons/faq@3x.png"></ion-img>
                    <ion-text>faq</ion-text>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <span class="notifications" matBadge="15" matBadgeColor="warn">
        <img src="/assets/icons/notification@3x.png">
    </span>
</ion-content>
