<ion-header [translucent]="false">
    <ion-toolbar>
        <ion-title>
            COVID19TEST
        </ion-title>
        <ion-buttons slot="primary">
            <ion-button [routerLink]="['/pages/index']">
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="statement">
        <h2>Disclaimer</h2>
        <h3>Sebelum mengisi harap membaca hal berikut</h3>
        <p>Data yang Anda masukkan akan direkam dan
            dipelajari oleh Tim untuk memprediksi
            pergerakan Corona di wilayah anda</p>
        <p>Semua data yang Anda isi akan terjamin
            rahasianya, hasil di sini hanya rekomendasi dari
            kami berdasarkan flow kemenkes mengenai
            siapa saja yang wajib memeriksakan diri ke
            dokter</p>
    </div>
</ion-content>
<ion-footer mode="ios">
    <ion-toolbar>
        <ion-button routerLink="/pages/auth/login" color="primary" expand="full">
            Lanjut <ion-icon name="chevron-forward"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-footer>


