<ion-content>
    <div class="header">
        <h1>TIM AI</h1>
        <h2>self assessment application</h2>
    </div>
    <form [formGroup]="form" class="auth-form">
        <div class="app-info">LOGIN</div>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input type="text" formControlName="account" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input [type]="visibility ? 'text' : 'password'" formControlName="pwd" matInput>
            <button mat-button matSuffix mat-icon-button>
                <mat-icon (click)="visibility = true" *ngIf="!visibility">visibility_off</mat-icon>
                <mat-icon (click)="visibility = false" *ngIf="visibility">visibility</mat-icon>
            </button>
        </mat-form-field>
        <p class="forgot"><a routerLink="/pages/auth/forgot" href="javascript:;">Forgot your password ?</a></p>
        <button class="login" (click)="login()" type="button">LOGIN</button>
        <p class="register">Don't have an account? <a routerLink="/pages/auth/register" href="javascript:;">Sign Up</a> here</p>
    </form>
</ion-content>
