<ion-header [translucent]="false">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/pages/index" text=""></ion-back-button>
        </ion-buttons>
        <ion-title>
            COVID19TEST
        </ion-title>
        <ion-buttons slot="primary">
            <ion-button [routerLink]="['/pages/index']">
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <img *ngIf="picture" [src]="picture">
</ion-content>
<ion-footer mode="ios">
    <ion-toolbar>
        <ion-button (click)="take()" color="primary" expand="full">
            Take picture
            <ion-icon name="chevron-forward"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-footer>


